@using MobileConference.Helper
@model string[]

@{
    ViewBag.Title = "Города регона: "+ViewBag.region;
}
<div class="fullBlock">
    <div class="container_12 titleFloat">
        <div class="grid_6  titleName">
            <span>Города регона: @((string)ViewBag.region)</span>
        </div>
        <div class="grid_5">
            @Html.ActionLink("вернуться","ManageRegionAndCities","Admin", null,new{@class="right"})
        </div>
    </div>
</div>

<div class="container_12 topContainer">
    <div class="grid_9 alpha">    

        @if (Model == null || !Model.Any())
        {
            <p>Городов пока нет</p>
        }
        else
        {
            <table>
                @foreach (var city in Model)
                { 
                    <tr>
                        <td>@city</td>     
                        <td>       
                            @using (@Html.BeginForm("RemoveCity", "Admin", FormMethod.Post))
                            {
                                @Html.Hidden("cityName",city)
                                @Html.Hidden("regionName",(string)ViewBag.region)
                                <input type="submit" value="Удалить" class="grey customButton smallSizeButton"/>
                            }
                        </td>
                    </tr>
                }
            </table>

        }
    </div>
    <div class="grid_3 omega">
        @Html.ValidationSummary()
        <h3>Добавить город:</h3>
        @using (@Html.BeginForm("AddCity", "Admin", FormMethod.Post))
        {
            @Html.TextBox("cityName","")
            @Html.Hidden("regionName",(string)ViewBag.region)
            <input type="submit" value="Добавить" class="grey customButton mediumSizeButton"/>        
        }
    </div>
</div>
<div class="empty_100"></div>