@using MobileConference.Models
@model LocalPasswordModel

<div class="titleDialog">
    <span class="closeAccountDialog">X</span>    
    <span>Смена пароля</span>
</div>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.OldPassword)</td>
            <td>@Html.PasswordFor(m => m.OldPassword)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.NewPassword)</td>
            <td>@Html.PasswordFor(m => m.NewPassword)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
            <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
        </tr>
        
    </table>
    <div class="buttonSet">
        <input type="submit" value="Сохранить" class="customButton orange mediumSizeButton right"/>        
    </div>
}
