@using MobileConference.Helper
@model MobileConference.Models.IdeaWithPlatform
<div class ="projectWraper">
    <a href="@Url.Action("MainPage","Ideas",new{ideaId = Model.Idea.Id})" class="withoutDecoration">
        <div class="ideaImage">
            @Html.AvatarForIdea(Model.Idea.Id)
        </div>
    </a>
    <h3>
        @if (Model.Idea.Title.Length > 40)
        {
            <a href="@Url.Action("MainPage","Ideas",new{ideaId = Model.Idea.Id})" title="@Model.Idea.Title">
                @Html.Truncate(Model.Idea.Title,38)
            </a>
        }
        else
        {
            @Html.ActionLink(Model.Idea.Title,"MainPage","Ideas",new{ideaId = Model.Idea.Id},null)            
        }
    </h3>
    @Html.TruncatedTitle("span",Model.Idea.GroupIdeaTitle, 12, new {@class="right"})
    @if (Model.Platform != null && !Model.Platform.IsDeleted)
    {
        @Html.TruncatedTitle("span",Model.Platform.Title, 12)        
    }
</div>

