
@using MobileConference.Enums
@using MobileConference.Helper
@model MobileConference.Models.ProfileModel

@{
    ViewBag.Title = "Профиль пользователя: "+ Model.Login;
}
<div class="container_12">
    <div id="userName">
        @Model.FullName()
    </div>
    <div class="grid_3 alpha">
        <div class="userAvatar">
            @Html.AvatarForUser(Model.Id,true)
        </div>
        @Html.Partial("CommonUserInformation",Model)
    </div>
    @if (Model.MemberIdeas.Any())
    {
        <div class="grid_6">
            @Html.Partial("ProfessionUserInfo")
        </div>
        <div class="grid_3 omega">
            <div class="descriptionUser">
        
                @if (Model.Role == RoleName.Student)
                {
                    <p>Участник проекта</p>
                }
                @if (Model.Role == RoleName.Mentor)
                {
                    <p>Ментор проекта</p>
                }
            </div>
            @Html.Partial("RenderIdea",Model.MemberIdeas.First().GetIdeaWithPlatform())
            @if (Model.Role == RoleName.Mentor && Model.MemberIdeas.Count()>1)
            {
                <p>
                    @Html.ActionLink(string.Format("Все ({0})",(Model.MemberIdeas.Count())),"MentorPage","Ideas",new {mentorLogin = Model.Login}, null)
                </p>
            }
        </div>
    }
    else
    {
        <div class="grid_9 omega">
            @Html.Partial("ProfessionUserInfo")
        </div>
    }
</div>
<div class="empty_100"></div>