@using MobileConference.Helper
@model MobileConference.Models.LocalPasswordModel

@Html.FloatTitle("Установить локальный пароль")
<div class="container_12">
    <div class="push_1">
        @using (Html.BeginForm("Manage", "Account")) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <table>
                <tr>
                    <td class="requiredField">@Html.LabelFor(m => m.NewPassword)</td>
                    <td>@Html.PasswordFor(m => m.NewPassword)</td>
                </tr>
                <tr>
                    <td class="requiredField">@Html.LabelFor(m => m.ConfirmPassword)</td>
                    <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                </tr>
            </table>
            <input type="submit" value="Сохранить" class="orange customButton mediumSizeButton"/>
        }
    </div>
</div>
